*{
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

body{
	width: 1440px;
	background: red;
}
.clear{
	clear: both;
}
 						
.himnakan__himq{     
	margin: auto;
	width: 1170px;
	height: 800px;
	background: #FFF;
}
.header-full{
	width: 100%;
	height: 220px;
	background: #fff;

}

.menu_full_page{
	width: 100%;
}
.menu_full_page_ul{
	width: 43%;
	margin: 5px 667px;
	 
}
.menu_full_page_li{
	margin: 5px 0px;
	display: inline-block;
	width: 80px;
	text-align: center;
}
.menu_full_page_li{
	 cursor: pointer;

}
.menu_full_page_li:hover{
	color: red;
}
 
.header_logo_menu{
	width: 100%;
	background: #ccc;

 }
.header_log_bac{
	width: 150px;
	height: 90px;

	background:#fff;
	float: left;
}
.header_logo{
	width: 150px;
	position: relative;
	top: -30px;

}
.header_menu_bac{
	 
	width: 100%;
	height: 90px;
}

.header_menu_ul{
	background: #fff;
	margin: 0px -1px;
	width: 494px;
	height: 100%;
	float: right;
}

.header_menu_li{
	width: 120px;
	height: 100%;
	color: #fff;
	display: inline-block;
	background: #F0626E;
	line-height: 5;
	text-align: center;
}
.men_li{
	background: #05AECC;
}
.header_menu_li:hover{
	cursor: pointer;
	background: #fff;
	color: green;

}
.fa{
	 font-size: 25px;
	margin: 0px 5px;
}
						/* --article 01-- */
.sec_a{
	 
	width: 100%;
	height: 550px;
	background: #fff;
	 

}
.a_a{
	 
	 
	float: left;
	 
}.a_b{
	 
	 
	height: 100%;
	float: left;
}
.a_a img{
	margin: 5px 0px;
	width: 670px;
}
.nk_e img:hover,.a_a img:hover,.nk_b:hover,.nk_c:hover{
	cursor: pointer;
	background: #ccc;
	opacity: 0.7;

}

.nk_b img{
	margin: 4px 5px;
	 width: 490px;
}
.nk_b{
	 
}
.nk_c img{
	width: 490px;
	margin: 8px 5px;
}
.nk_c{
	height: 256px;
	 
}
					/* --article 02-- */


.b_a{
	 width: 670px;
	 height: 100%;
	  
	 
	float: left;
}
.input_bac{
	width: 100%;
	height: 160px;
	margin: 5px 0px;
	background: #F0626E;
}
.input_fuul{
	margin: 50px 20px;
	width: 500px;
	height: 30px;
	padding: 10px;
}
.fa-search{

	color: #fff;
	font-size: 40px;

}
.nk_e{
	margin: 5px 0px;
	 
	width: 100%;
	height: 350px;
}
.nk_e img{
	margin: 5px 0px;
}
					/* --article 03-- */

.sec_b{
	 
	width: 100%;
	height: 240px;
	background: #fff;
}

.new_products{
	width: 100%;
	height: 120px;
	background: #fff;
}
.new_tex{
	display: inline-block;
	margin: 10px;
	color: #05AECC;
	font-size: 2em;
	font-weight: bold;
}
	 
.a_nn{
	 margin: 10px;
	float: left;
}
.a_nn:hover{
	cursor: pointer;
	background: #ccc;
	opacity: 0.7;
}
.fa_bac{
	margin: -10px -9px;
	float: right;
	width: 130px;
	height: 40px;
	 
}
.fa-chevron-left{
	background:#05AECC; 
}
.fa-chevron-right{
	background:#272822; 
}

.fa-chevron-left,.fa-chevron-right{
	width: 60px;
	height: 70px;
	margin: 1px;
	color: #fff;
	line-height: 70px;
	text-align: center;
	font-size: 20px;
	float: left;
	display: inline-block;
}
.fa-chevron-left:hover,.fa-chevron-right:hover{
	background: #ccc;
	opacity: 0.9;
	cursor: pointer;
}
                              /* --article 04-- */

.sec_c{
	 
	width: 100%;
	height: 500px;
	background: #fff;
}
.c_nn{
	height: 490px;
	background: #fff;
	 margin: 10px;
	float: left;
}
.c_nn img:hover{
	cursor: pointer;
	background: #ccc;
	opacity: 0.7;
}

.chevron_l {
	background:#F0626E; 
}
.chevron_r {
	background:#272822; 
}
.tab_a{
	width: 100%;
	height: 80px;
	border:0px solid;
	text-align: center;
}
.tr_tr{
	border:1px solid #ccc;
	color: #ccc;

}
.tr_tr:hover{
	background: #ccc;

	cursor: pointer;
	color: #F0626E;
}
.tr_tr_gin{
	background: #F0626E;
	border:1px solid #ccc;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}
.tr_tr_gin:hover{
	cursor: pointer;
	background:#05AECC;
}
 
.short{
	color: #F0626E;

}
.product,.short{
	font-weight: bold;

}
.short:hover{
	cursor: pointer;
	color:#05AECC;
 }
 .new_tex_lorem{
 	margin: 15px;
 	display: inline-block;
 	text-align: justify;
 }
.sec_e{
	 
	width: 100%;
	background: #fff;
}
.button_register_now{
	color: #fff;
	font-size: 25px;
	 
	margin: 0px 300px;
	width: 550px;
	height: 60px;
	background: #05AECC;
	font
}
.button_register_now:hover{
	cursor: pointer;
	box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);

}
footer{
	width: 100%;
	background: #fff;
}
.foot_table{
	margin:0px 50px;
}
.foot_tabl_tr{
	
	height: 40px;
 
}
.foot_table td{
	font-size: 20px;
	width: 270px;
	
}

.copy{
	width: 100%;
	display: inline-block;
	 margin: 20px 50px;
}
.foot_table td a{
	text-decoration: none;
	color: #000;
	 
	
}