*{
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

body{
	width: 1440px;
	background: red;


}

.himnakan__himq{
	margin: auto;
	width: 1170px;
	height: 600px;
	background: #FFF;
}
.header-full{
	width: 100%;

}

.menu_full_page{
	width: 100%;
}
.menu_full_page_ul{
	width: 43%;
	margin: 5px 667px;
	 
}
.menu_full_page_li{
	margin: 5px 0px;
	display: inline-block;
	width: 80px;
	text-align: center;
}
.menu_full_page_li{
	 cursor: pointer;
}
 
.header_logo_menu{
	width: 100%;
	background: #ccc;

 }
.header_log_bac{
	width: 150px;
	height: 90px;

	background:#fff;
	float: left;
}
.header_logo{
	width: 150px;
	position: relative;
	top: -30px;

}
.header_menu_bac{
	 
	width: 100%;
	height: 90px;
}

.header_menu_ul{
	background: #fff;
	margin: 0px -1px;
	width: 494px;
	height: 100%;
	float: right;
}

.header_menu_li{
	width: 120px;
	height: 100%;
	color: #fff;
	display: inline-block;
	background: #F0626E;
	line-height: 5;
	text-align: center;
}
.men_li{
	background: #05AECC;
}
.header_menu_li:hover{
	cursor: pointer;
	background: #fff;
	color: green;

}
.fa{
	 font-size: 25px;
	margin: 0px 5px;
}

